{% load static %}
<html>
    <head>
        <title>CoopLaTeX: Online LaTeX editor!</title>
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/octicons.min.css' %}" media="screen" title="no title"/>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="{% static 'js/editor-splitter.js' %}"></script>

        <style type="text/css" media="screen">
            #editor { 
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        </style>
    </head>
    <body>           
        <nav class="navbar navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{% url 'login:index' %}">
                <span class="coopLatex">
                    CoopLaTex
                </span>
            </a>

            <div class="mr-auto">
                <span class="navbar-text">
                    {{projectName}}
                </span>
            </div>

            <div class="ml-auto">
                <a class="inline-navlink" href="#">Invite</a>
                <span class="dropdown">
                    <a class="inline-navlink dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="{% url 'editor:signout' %}">Sign Out</a>
                    </div>
                </span>
            </div>
        </nav>
        <nav class="navbar navbar-editing navbar-fixed-top">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-albel="Upload download">
                    <button type="button" class="btn" data-toggle="modal" data-target="#newFileModal">New file</button>
                    <button type="button" class="btn">Upload file</button>
                    <button type="button" class="btn">Download source</button>
                    <button type="button" onclick="downloadPdf()" class="btn">Download pdf</button>
                    <button type="button" onclick="saveSource()" class="btn" id="saveSource">Save source</button>
                </div>
            </div>
            <div class="btn-group" role="group" aria-albel="Undo redo">
                <button type="button" class="btn">Undo</button>
                <button type="button" class="btn">Redo</button>
            </div>
            <button type="button" class="btn">Comment selection</button>
            <div class="btn-group" role="group" aria-albel="Upload download">
                <button type="button" onclick="compile()" class="btn" id="compile">Compile</button>          
                <button type="button" class="btn">Logs/output files</button>
            </div>
            <button type="button" class="btn">Fullscreen</button>                     
        </nav>

        <div id="container1" class="panel-container">
            <div id="sidebar" class="panel-file-view">                
                <ul class="list-group" id="files">
                    <li id="{{mainfile.name_id}}" class="currentfile list-group-item" onclick='toggleFiles("{{mainfile.name_id}}")'>{{mainfile.name}}</li><span style="display:none" id="{{mainfile.name_id}}-body" name="{{mainfile.name}}">{{mainfile.body}}</span>
                    {% for f in editable_files %}
                        <li id="{{f.name_id}}" class="unselectedfile list-group-item" onclick='toggleFiles("{{f.name_id}}")'>{{f.name}}</li><span style="display:none" name="{{f.name}}" id="{{f.name_id}}-body">{{f.body}}</span>
                    {% endfor %}
                    {% for f in images %}
                        <li id="{{f.name_id}}-other" class="unselectedfile list-group-item" onclick='toggleOtherFiles("{{f.name_id}}")'>{{f.name}}</li>
                    {% endfor %}
                </ul>
            </div>            
            <div class="splitter-files"></div>
            <div id="resizable" class="panel-left">
                <pre><div id="editor">{{mainfile.body}}</div></pre>   
            </div>            
            <div id="container2" class="panel-right">
                Press compile to view pdf!
            </div>
        </div>  

        <script src="{% static 'ace-builds-master/src-min-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'ace-builds-master/src-min-noconflict/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>
        <script>
            ace.require("ace/ext/language_tools");
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/chrome");
            editor.getSession().setMode("ace/mode/tex");
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true,
                wrapBehavioursEnabled: true
            });
            editor.$blockScrolling = Infinity 
            document.getElementById('editor').style.fontSize='12px';
            $( function() {
                $( "#resizable" ).resizable({
                    minHeight: $("#container1").height(),
                    maxHeight: $("#container1").height(),
                    stop: function (event, ui) {editor.resize();}
                });
            });

        </script>
        
        <div class="modal" id="newFileModal" tabindex="-1" role="dialog" aria-labelledby="newFileModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Name your new tex or bib file</h5>
                        <button type="button" class="close" data-dismiss="modal" id="modal-close-button" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="newFileError" style="display: none">
                            <div class="alert alert-danger show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                Invalid filename
                            </div>
                        </div>
                        <form
                        class="form-inline"
                        method="post" id ="new-file-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class= "col-sm-3">
                                <label for="file-name-input" class="form-control-label">Filename: </label>
                            </div>
                            <!--{{newFileForm.file_name}}-->
                            <div class="col-sm-9">
                                <input id="file-name-input" class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="file-name-input">
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" form="new-file-form" class="btn btn-primary">Create new file</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
