{% load static %}
<html>
  <head>
    <title>CoopLaTeX: Online LaTeX editor!</title>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'login:index' %}">
        <span class="coopLatex">
          CoopLaTeX
        </span>
      </a>

      <div class="align-items-end">
          <a href="{% url 'login:signIn' %}">
            <button type="button" class="btn btn-primary btn-sm">Sign In</button>
          </a>
          <a href="{% url 'login:register' %}">
            <button type="button" class="btn btn-outline-secondary btn-sm">Sign Up</button>
          </a>
      </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-3">Welcome to CoopLaTeX!</h1>
        <p class="lead">CoopLaTeX is a collborative LaTeX editor. Create store and share all your projects, available anywhere! </p>
        <hr class="my-4">
        <p>Get started by singning up.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'login:register' %}" role="button">Sign Up</a>
        </p>
    </div>
  </body>
</html>