{% load static %}
<html>
    <head>
        <title>CoopLaTeX: Online LaTeX editor!</title>
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
      </head>
      

      <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'login:index' %}">
              <span class="coopLatex">
                CoopLaTeX
              </span>
            </a>
      
            
        </nav>
            <div class="d-flex justify-content-center lower-100">
                <div class="alert alert-success" role="alert">
                    <strong>Success! </strong>Click<a href="{% url 'login:signIn' %}" class="alert-link"> here </a>to sign in.
                </div>
            </div>
      </body>

</html>