.coopLatex {
  font-family: 'Alfa Slab One', cursive;
  color: rgb(98.4%, 12.4%, 1.5%);
}

.lower-100 {
  padding-top: 100px;
}

.form-error {
  font-weight: bold;
  color: rgb(99.9%, 11.2%, 0%);
  margin-bottom: -100;
  margin-top: 50px;
}

.no-projects-card {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightblue;
}

.table-box {
    margin: 10px 10px 10px 10px;
    background: #ffffff;
}

.project-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.maright-10 {
    margin-right: 10px;
}

body {
    background:  #eeeeee;
    overflow: auto;
}

.inline-navlink {
    display: inline;
    padding: .5rem 1rem;
}

.navbar-editing {
    top: 56px;
    background:  #ffffff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.panel-container {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    touch-action: none;
    height: 90%;
}

.panel-left {
    flex: 0 0 auto;
    padding: 10px;
    width: 300px;
    min-height: 200px;
    min-width: 150px;
    white-space: nowrap;
    background: #ffffff;
    color: white;
    border-right-style: solid;
    border-right-color: #000000;
    border-right-width: 10px;
  }
  
  .splitter {
    flex: 0 0 auto;
    width: 18px;  
    background: center center no-repeat #535353;
    min-height: 100%;
    cursor: col-resize;  
  }

  .panel-file-view {
    background: #8d8d8d;
    min-width: 140px;
    transition: all 0.3s;
  }

  .panel-file-view.active {
      margin-left: -140px;
  }

  .splitter-files {
    flex: 0 0 auto;
    width: 10px;
    background: center center no-repeat #03dffc;
    min-height: 100%;
    cursor: col-resize;
  }
  
  .panel-right {
    flex: 1 1 auto;
    padding: 10px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #eee;
  }

  .currentfile {
    background-color: #007bff;
    color: white;
    font-size: 10px;
  }

  .unselectedfile {
    background-color: #eee;
    font-size: 10px;
  }

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
  }

.jGrowl .manilla {
    background-color: 		rgb(1, 75, 13);
        color: 					rgb(255, 255, 255);
}
.jGrowl .error {
    background-color: 		rgb(146, 1, 1);
    color: 					rgb(255, 255, 255);
}